# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas (Python)
2. NumPy (Python)
3. dplyr (R)
4. data.table (R)
5. Matplotlib (Python)
6. Seaborn (Python)
7. ggplot2 (R)
8. Plotly (Python and R)
9. scikit-learn (Python)
10. TensorFlow (Python)
11. Keras (Python)
12. PyTorch (Python)
13. caret (R):

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# This is a simple arithmetic expression to multiply then add integers

result = (3 * 4) + 5
print(result)

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
print(hours)

3.3333333333333335

#### Objectives

- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub
- Evaluate notebooks submitted by your peers using the provided rubric
- Demonstrate proficiency in Data Science toolkit knowledge

## Author

Christian Brandt